body {
  min-height: auto;
}
.jumbotron {
  padding-top: 11rem;
  background-color: rgb(237, 221, 250);
  overflow: hidden;
}

#projects {
  background-color: #edddfa;
  overflow: hidden;
}

section {
  padding-top: 6rem;
  overflow: hidden;
}
